$primary-color: #002642;
$secondary-color: #69A297;
$tertiary-color: #8F3985;
$bckground-color: #FEFCFB;
$validate-color: #47A025;
$error-color: #6B0504;
$text-color:#2F1829;
$text-secondary-color: #FCF7FF;
$text-font: "Roboto", sans-serif;
$title-font: "Proza Libre", sans-serif;